.list-cell {
    -fx-cell-size: 50 ;
    -fx-animated: true;
    -fx-padding: 1px;
}

.list-cell:hover{
    -fx-background-color: #dbdbdb;
}

.list-view {
    -fx-border-image-width: 0;
}

Button {
    -fx-padding:-5 -5 -5 -5;
    -fx-cursor: hand;
    -fx-font-family: 'Roboto', 'Helvetica Neue', Verdana, Arial, system;
    -fx-font-size: 11pt;
}
Label {
    -fx-font-family: 'Roboto', 'Helvetica Neue', Verdana, Arial, system;
    -fx-font-size: 10pt;
}